{:tasks
 {format {:doc "Run bin/format in every tool folder that has one."
          :task (shell "scripts/run-all.bb format")}
  test {:doc "Run bin/test in every tool folder that has one."
        :task (shell "scripts/run-all.bb test")}}}
