{:hooks {:macroexpand {lonocloud.synthread/let lonocloud.synthread/let
                       lonocloud.synthread/if lonocloud.synthread/if
                       lonocloud.synthread/if-let lonocloud.synthread/if-let
                       lonocloud.synthread/when lonocloud.synthread/when
                       lonocloud.synthread/when-not lonocloud.synthread/when-not
                       lonocloud.synthread/when-let lonocloud.synthread/when-let
                       lonocloud.synthread/cond lonocloud.synthread/cond
                       lonocloud.synthread/as lonocloud.synthread/as
                       lonocloud.synthread/aside lonocloud.synthread/aside
                       lonocloud.synthread/in lonocloud.synthread/in}}}
